.projects {
    padding-bottom: 2rem;
    
    &-bio-image {
        height: 50vh;
        width: 100%;
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../img/design-projects.jpg) no-repeat center top / cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        h2 {
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 2rem;
        }
    }
    
    .social-icons {
        display: flex;
        flex-direction: column;
    }
    
    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
        margin-bottom: 5rem;
        font-weight: 300;
    }
}

.portfolio {
    width: 60vw;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    
    &-item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 10;
        
        img {
            width: 100%;
        }
        
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $accent-color;
            opacity: 0;
            @include transition;
        }
        
        &:hover {
            &::after {
                opacity: 0.9;
                top: 0;
            }
            .portfolio-btn {
                opacity: 1;
            }
        }
    }
    
    &-buttons {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }
    &-btn {
        font-size: 1.5rem;
        color: $text-color;
        opacity: 0;
        @include transition;
        
        &:hover {
            color: $bg-color;
        }
    }
}